<div>
    <div class="w-full flex justify-between align-middle p-2">
      <span class="text-xl font-bold">Reviews</span>
      <div class="">
        <input
        type="text"
        name="username"
        id="search"
        class=" border-2 rounded-md bg-transparent  pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
        placeholder="search by Id"
        [(ngModel)]="searchId"
      />
      <button class="px-4 py-1 m-1 bg-gray-500 text-white rounded-md" (click)="searchById()" >Search</button>
      <button class="px-4 py-1 m-1 bg-gray-500 text-white rounded-md" (click)="clear()" >Clear</button>
          <button class="px-4 py-1 m-1 bg-yellow-500 text-white rounded-md" (click)="showCreateDialog()" >Create</button>
          
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Member</th>
          <th>Item</th>
          <th>Rating</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews ">
          <td>{{ review.id }}</td>
          <td>{{ review.memberId }}</td>
          <td>{{review.itemId}}</td>
          <td>{{review.rating}}</td>
          <td>
            <!-- <button
              class="px-4 py-1 m-1 bg-yellow-500 text-white rounded-md"
              (click)="editCatalogue(catalogue)"
            >
              Edit
            </button> -->
            <button
              class="px-4 py-1 ml-4 m-1 bg-red-500 text-white rounded-md"
              (click)="delete(review.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="showDialog">
        <app-review-dialog (onCancel)="closeDialog()" (onSubmit)="submit($event)"  ></app-review-dialog>
    </ng-container>
  </div>
  
  
  